*{
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Wix Madefor Display', sans-serif;
}

.nav{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    align-items: center;
}

.nav div{
    width: 33%;
}

.nav div ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    
}


a{
    text-decoration: none;
    color: inherit;
    position: relative;
    padding-bottom: 5px;
}

.nav div img{
    display: flex;
    padding-left: 35%;
}

.logo{
    height: 10%;
    width: 15%;
}

/* .nav:hover{
    margin: 15px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255);
    transition: ease-in 0.3s;
    border-radius: 5%;
} */

section{
    margin: 5% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-left{
    width: 55%;
    padding-right: 5%;
}
.content-right{
    border-radius: 50%;

}
.img-content{
    height: 35vw;
}
.i{
    color: #F3C800;
}

section h1{
    color:#707070;
    font-size: 90px;
    letter-spacing: 1px;
}

section p{
    margin-top: 5%;
    font-style: italic;
    font-size: large;
    text-align: justify;
    letter-spacing: 2%;
}

section button{
    margin-top: 5%;
    height: 10vh;
    width: 25vw;
    font-size: x-large;
    border-radius: 25px;
    border: none;
    background-color: #42B3AD;
    transition: all 0.2s ease;
}

button:hover{
    transform: scale(0.96);
}
.link:after{
    content: "";
    width: 0;
    height: 4px;
    background-color: #00B0C1;
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .5s;
    will-change: width;
}

.link:hover:after{
    width:100%;
    right: 0;
}